{% load static %}
<html>
    <head>
        <title>Phrase Finder</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/vidsearch_app.css' %}">
        <link rel="stylesheet" href="./newResults.css">
    </head>
    <body>
        <h3>
            YouTube PhraseFinder
        </h3>
            <div>
                Videos without transcripts: {{NO_TRANSCRIPT_COUNT}}
            </div>
            {% for vid in top_vid_ids %}
                {% if vid.transcript %}
                    <div>
                        <a href="https://www.youtube.com/watch?v={{vid.vid_id}}">{{vid.title}}</a>
                    </div>
                    <div>
                        <a href="https://www.youtube.com/watch?v={{vid.vid_id}}"><img src=https://i.ytimg.com/vi/{{vid.vid_id}}/hqdefault.jpg></a>
                    </div>
                    <div style="height:250px;width:500px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
                        {{vid.found_lines}}
                        <br>
                    </div>
                {% endif %}
            {% endfor %}
    </body>
</html>