* {
    align-content: center;
}

.scrollbox{
    align-content: center;
    background: #F8F8F8;
    border: solid 1px;
    overflow: scroll;
    height: 500%
}

.container{
    display: flex;
    justify-content: flex-start;
    flex-direction:column;
}
.btn-danger {
    height: 100%;
    padding: 10px;
    margin: 5px;
}