{% load static %}
<html>
    <head>
        <title>Phrase Finder</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/vidsearch_app.css' %}">
    </head>
    <body>
    <h3>
        YouTube PhraseFinder
    </h3>  
        <h5>Working form</h5>
            <form action = "/results" method = "get">
                <input type="text" placeholder="Youtube URL" name="vid_url" />
                <input type="text" placeholder="Space Seperated Key Words" name="key_words" />
                <button type="submit">Submit</button>
            </form>
        <h5>Form that we want to work</h5>
            <form action = "/newResults" method = "get">
                <input type="text" placeholder="Video Search Query" name="vid_query" />
                <input type="text" placeholder="Caption Search Query" name="caption_query" />
                <button type="submit">Submit</button>
            </form>
    </body>
</html>